@import './base_test.css';




.form_control {
    margin-top: 1.4rem;
}

.top_header {
    margin-top: 0;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--display_width);


    .toggleUI {
        transform: scale(0.8);
        display: flex;
        align-content: center;
        justify-content: center;
        width: fit-content;
    }
}


.register {
    padding: 2rem;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    margin-top: 2rem;


    h1 {
        text-align: center;
        color: var(--text-color);
    }

    .form_div {
        display: flex;
        justify-content: space-between;
    }

}


.submit_div {
    display: flex;
    justify-content: center;
    align-items: center;


    .btn-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.password_flex {
    display: flex;

    button {
        margin: 0;
        margin-left: 5px;
    }
}


.profile_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;

    position: relative;

    img {
        border-radius: 50%;
    }

    button {

        position: absolute;
        right: 0;
        bottom: 0;

    }
}


.toggleUI {
    .toggle-container {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 25px;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        background-color: #ccc;
        border-radius: 25px;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        position: relative;
        transition: background-color 0.3s;
        width: 100%;
    }

    .toggle-circle {
        background-color: white;
        border-radius: 50%;
        height: 21px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.3s;
        width: 21px;
    }

    .toggle-checkbox:checked+.toggle-label {
        background-color: #4caf50;
    }

    .toggle-checkbox:checked+.toggle-label .toggle-circle {
        transform: translateX(25px);
    }
}


.top_header {
    width: var(--display_width);
    margin: auto;
    padding-left: 0.6rem;
    padding-right: 0.6rem;


    .logged_user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;

        button {
            padding: 0.3rem 0.8rem;
            border-radius: 50px;
            // margin-right: 0;
            margin: 0;
        }

        .profilepic {
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
            }
        }

        .themebox {
            display: flex;
            // margin-left: 1.4rem;
            border-left: 1px solid;
            padding-left: 0.6rem;
        }
    }
}



// homepage
.homepage, .dashboard {
    // background-color: red;
    margin-top: 1rem;
    color: var(--text-color);

    .working_div {
        width: var(--display_width);
        margin: auto;
        padding: 0.6rem;

        h1 {
            margin-bottom: 1rem;

        }

        .strategies {
            display: flex;
            // border: 1px solid;
            flex-direction: column;
            gap: 1rem;

            .item {
                display: flex;
                // border: 1px solid red;
                border-left: 10px solid black;
                width: 100%;

                >div {
                    flex: 1;
                    // justify-content: center;
                    align-items: center;
                    display: flex;

                    h2 {
                        margin: 0.6rem 0;
                        margin-left: 0.6rem;
                    }
                }

                .left {
                    background-color: rgb(206, 206, 206);
                    display: flex;
                    gap: 1rem;


                    .info_div {
                        background-color: #4caf50;

                    }
                }


            }

            .item:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                cursor: pointer;
            }
        }

    }
}


.dashboard {
    
    .working_div {
        // border:  1px solid purple;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        border-radius: 8px;

        .dashboard_header {
            // border: 1px solid;
            justify-content: space-between;
            display: flex;


            .btn_div {
                display: flex;
                gap: 1rem;

                h2 {
                    padding: 0.3rem 0.6rem;
                    border-radius: 8px;
                    line-height: 1;
                    border-bottom: 1px solid transparent;
                }

                h2.active {
                    // text-decoration: underline;
                    span {
                        // border-bottom: 1px solid var(--text-color);
                    }
                }

            }
            
            .left {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                // border: 1px solid yellow;

                p {
                    font-size: 1.2rem;
                }

                button {
                    padding: 0.3rem 0.8rem;
                    border-radius: 50px;
                    // margin-right: 0;
                    margin: 0;
                }
            }
        }


        .dashboard_container {
            // border: 1px solid red;
            margin-top: 0.6rem;
            // background-color: #4caf50;
            // display: none;


            .dashboard_tab, .trades_tab {
                padding: 0.8rem;


                .flex_container {
                    display: flex;
                    gap: 0.8rem;

                    .item {
                        padding: 0.6rem 0.8rem;
                        border-radius: 4px;



                        .value {
                            font-size: 1.4rem;
                            font-weight: lighter;
                            color: green;
                        }
                    }

                    .item:hover {
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    }
                }
            }


        }


    }

} 


.settings {
    .error_message {
        color: red;
        text-align: center;
      }
      
      .success_message {
        color: green;
        text-align: center;
      }
      
      .edit {
        border-radius: 50%;
        padding: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .form_div {
        display: flex;
        gap: 2.6rem;
      
        .right {
          width: 35%;
          /* background-color: red; */
        }
      
      
        .left {
          flex-grow: 1;
        }
      }
      
      
      .submit_div {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
      
      
        .btn-primary {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
      
      .settings {
        margin: auto;
        padding: 2rem;
        max-width: 700px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 10px;
        margin-top: 2rem;
      
      
        h1 {
          text-align: center;
          color: var(--text-color);
        }
      
      }
      
      
      
      .profile_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: fit-content; */
        margin: auto;
      
        position: relative;
      
        img {
          border-radius: 50%;
          width: 85%;
        }
      
        button {
      
          position: absolute;
          right: 1.5rem;
          bottom: 0;
      
        }
      }
      
}