@import './base.css';



.form_control {
    margin-top: 1.4rem;
}

.top_header {
    margin-top: 0;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--display_width);
    margin: auto;


    .toggleUI {
        transform: scale(0.8);
        display: flex;
        align-content: center;
        justify-content: center;
        width: fit-content;
    }
}





.password_flex {
    display: flex;

    button {
        margin: 0;
        margin-left: 5px;

        i {
            font-size: 1rem;
        }
    }
}



.toggleUI {
    .toggle-container {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 25px;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        background-color: #ccc;
        border-radius: 25px;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        position: relative;
        transition: background-color 0.3s;
        width: 100%;
    }

    .toggle-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        height: 21px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.3s;
        width: 21px;
    }

    .toggle-checkbox:checked+.toggle-label {
        background-color: #4caf50;
    }

    .toggle-checkbox:checked+.toggle-label .toggle-circle {
        transform: translateX(25px);
    }
}