@import './base.css';



.form_control {
    margin-top: 1.4rem;
}

.top_header {
    margin-top: 0;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--display_width);
    margin: auto;


    .toggleUI {
        transform: scale(0.8);
        display: flex;
        align-content: center;
        justify-content: center;
        width: fit-content;
    }
}


.register {
    margin: auto;
    padding: 2rem;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    margin-top: 2rem;


    h1 {
        text-align: center;
        color: var(--text-color);
    }

}


.submit_div {
    display: flex;
    justify-content: center;
    align-items: center;


    .btn-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.password_flex {
    display: flex;

    button {
        margin: 0;
        margin-left: 5px;
    }
}


.profile_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;

    position: relative;

    img {
        border-radius: 50%;
    }

    button {

        position: absolute;
        right: 0;
        bottom: 0;

    }
}


.toggleUI {
    .toggle-container {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 25px;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        background-color: #ccc;
        border-radius: 25px;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        position: relative;
        transition: background-color 0.3s;
        width: 100%;
    }

    .toggle-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        height: 21px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: transform 0.3s;
        width: 21px;
    }

    .toggle-checkbox:checked+.toggle-label {
        background-color: #4caf50;
    }

    .toggle-checkbox:checked+.toggle-label .toggle-circle {
        transform: translateX(25px);
    }
}